#ErrorDocument 403 "Maintanance"
#
#Order deny,allow
#Deny from all
#Allow from 141.14.245.195
#Allow from 127.0.0.1
#Satisfy All

AddType	application/vnd.openxmlformats-officedocument.spreadsheetml.sheet       xlsx

<IfModule mod_rewrite.c>
   RewriteEngine on
   RewriteRule    ^$ app/webroot/    [L]
   RewriteRule    (.*) app/webroot/$1 [L]
</IfModule>
